{
  "env": {
    "production": {
      "presets": ["react"],
      "plugins": ["transform-class-properties", "transform-object-rest-spread"]
    },
    "development": {
      "presets": ["react", "babel-preset-es2015", "babel-preset-es2016", "babel-preset-es2017", "es2016"],
      "plugins": ["react-hot-loader/babel", "transform-class-properties", "transform-object-rest-spread", "transform-runtime"]
    }
  }
}
